<div class="main">
  <div *ngIf="networkStatus">
    <img class="avatar" src="assets/img/avatar.png" alt="" />
    <form [formGroup]="loginForm">
      <p>
        <tui-input formControlName="email">
          email
          <input tuiTextfield />
        </tui-input>
      </p>

      <p>
        <tui-input-password formControlName="password">
          password
          <input tuiTextfield />
        </tui-input-password>
        <span *ngIf="this.homePageService.errLogi"
          >Неверный логин или пароль</span
        >
      </p>
      <p>
        <button tuiButton (click)="login()">login</button>
      </p>
    </form>
  </div>

  <div class="off" *ngIf="!networkStatus">
    <div>
      <ng-lottie [options]="lottieOptions"></ng-lottie>
    </div>
    <tui-island>
      <h3 class="tui-island__title">Ой, кажется вы не в сети</h3>
      <p class="tui-island__paragraph">
        пока можно почитать полезные материали ниже и подготовиться к экзамену
      </p>
    </tui-island>

    <div class="m20">
      <p>
        <tui-island>
          <h3 class="tui-island__title">
            Искусство сервировки: правила и тренды
          </h3>
          <p class="tui-island__paragraph">
            Экостиль остаётся трендом уже не один сезон, и даже год. Стремление
            ко всему натуральному сейчас вовсе не означает отказ от роскоши или
            аскетизм. Напротив – натуральные материалы нынче в цене и почете.
            Во-первых, потому что «эко» - это всегда полезно, а во-вторых,
            потому что натуральные материалы во многих странах лимитированы, и
            цена на них растет по мере увеличения дефицита. Но на наш взгляд,
            природа и ее продукты – это в первую очередь красиво.
          </p>
        </tui-island>
      </p>
      <p>
        <tui-island>
          <h3 class="tui-island__title">Внешний вид официанта</h3>
          <p class="tui-island__paragraph">
            Официант является лицом заведения. Поэтому в каждом заведение есть
            своя этика и требования к внешнему виду обслуживающего персонала.
            Для начала стоит отметить, что внешний вид официанта должен быть
            опрятным, выражения лица доброжелательным. Ничего не должно вызывать
            негативной реакции у посетителей. Внешний вид официанта включает в
            себя верхнюю часть одежды, рубашка или футболка, желательно темного
            цвета, нижняя часть гардероба - это брюки или джинсы, тоже
            желательно темного цвета, конечно фартук с логотипом заведения.
          </p>
        </tui-island>
      </p>
      <p>
        <tui-island>
          <h3 class="tui-island__title">Чаевые</h3>
          <p class="tui-island__paragraph">
            Сумма чаевых (нем. Trinkgeld — деньги на выпивку) в ресторанах, кафе
            и увеселительных заведениях составляет 5-10 % от счета, только если
            обслуживание понравилось. Включающая чаевые общая сумма называется
            клиентом сразу при передаче денег, перед тем, как официант даёт ему
            сдачу. Небольшие чаевые принято оставлять экскурсоводам по городу и
            водителям туристических автобусов, обычно 1-2 евро с человека.
            Таксистам и парикмахерам принято давать чаевые в размере 10 % от
            цены услуги. Даже при первоклассном обслуживании чаевые более 10 %
            от услуги в Германии считаются неуместными
          </p>
        </tui-island>
      </p>
      <br />
    </div>
  </div>
</div>
